language: node_js
node_js:
  - 10
services:
  - docker
env:
  global:
    - PACT_BROKER_BASE_URL=https://jstoebel.pactflow.io
    - PACT_BROKER_PUBLISH_VERIFICATION_RESULTS=true
    # Encrypted PACT_BROKER_TOKEN
    - secure: "H8FPppy1IRnwiIzovpCr43Q8vTQbVhou/mWCqhje3IcQH5ewclk0tiNSJkPMVRtRU6X2PfWBV15+qCmQN7mHGeFwBIW4BGEtVCHslwSy1MuMtQpmvldGc8Ya20TkddFNVC0cXCXBNhP4ipeKvCw5G/zNuAxnGaRl87Yxfdiv2ey/zJ4L95A+2r9vBk9iEIG64zTnBqShHZQSe1tfpMqf0eIww6+MjW49XwpZwZ+MHAr7GaeGIpoYGzyPEfQk+x5vam20VBPOcMfFG78rJIu+vfhSKzjdwG8Fe4AdsdHrudJRg7+x/fI6YTazq3bEmXB9/7Y6XxQYNl2mRgYh5eJ+yhe1bQ6Ty5cc6mqpBgNRTucJk643MVWzqtwXz2PJlHbHM4xTgdtH/c5vkBEaRBvQ8357vBIZYbXHIaRtLVfFIr42JF0kZowqszqgwKfYWqnuNYrYKX1f+afAgSjfWUGjR5Z995Mqx6TrZebl43gIMDjqUxgl05jLf+i6qwFjqOVrhgBktIJdCV+xaMbFm/85wP1YQ8gxrAcQUqny4oGDSo8k7+aVgy0jM4EDNDN6FP+mmBF1ZWHpKswozp2huYU2UYrgOPIsNDEWOWjGZ7esx5Ho+t6U5Kz8UX+CBeaRtRjizq1WRf22tUITttc4FrFCRIw0f9jBGagHIecNTHrQecQ="
before_script:
  - docker pull pactfoundation/pact-cli:latest
script:
  # When a webhook triggers a build, the PACT_URL will be set. In this case, just run the verification step.
  # Otherwise, run the normal build.
  # This is just to get around the fact that Travis CI only has one build definition per repository.
  # Normally you would define a separate job for the webhook triggered verification.
  - >
    if [ -n "${PACT_URL}" ]; then
      make ci_webhook
    else
      make ci
    fi
